/* Navigation Bar Container */
.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    border-radius: 5px;
    border-bottom: 2px solid aqua;
    width: 90%;
    margin: 0 5em;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent; /* Navbar background */
    color: white;
    backdrop-filter: blur(5px);
    
}

/* Logo Styling */
.nav_img_logo {
    height: 50px;
    max-width: 100px;
}

/* Navigation Links */
.desktop ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    transition: all 0.3s ease;
}

.desktop ul li {
    margin: 0 15px;
}

.desktop ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: aqua;
    transition: color 0.3s ease;
}

.desktop ul li a:hover {
    color: #ff6347;
}

/* Responsive Hamburger Menu */
.navicon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: aqua;
}

/* Mobile View */
@media screen and (max-width: 768px) {
    .desktop {
        display: none; /* Hide desktop menu by default */
    }
    .nav_main{
        height: 45px;
    }
    .nav_img_logo {
        height: 40px;
        max-width: 90px;
    }
    .desktop.show {
        display: block; /* Show menu when toggled */
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: transparent;
        padding: 1em;
        z-index: 999;
        text-align: center;
        backdrop-filter: blur(5px);
    }

    .desktop ul {
        flex-direction: column;
        align-items: center;
    }

    .desktop ul li {
        margin: 10px 0;
    }

    .navicon {
        display: block; /* Show hamburger icon on mobile */
    }
}
